<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users list</h4>
                      <p class="card-category">Click on the user to go to user details page</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th *ngFor="let head of columns">
                                    {{ head }}
                                  </th>
                              </thead>
                              <tbody class="user-row">
                                  <tr (click)="seeUserDetails(user._id)" *ngFor="let user of usersList">
                                      <td>
                                          {{ user._id }}
                                      </td>
                                      <td>
                                        {{ user.username }}
                                    </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <generic-list [columns]="columns" [list]="usersList"></generic-list>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
